<h1 style="color:blue">
    Menú de paginación
</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Paginacion"
            asp-action="PaginarRegistroVistaDepartamento">
            Paginación Individual Vista Departamento
        </a>
    </li>
</ul>