<h1 style="color:blue">
    Menú de paginación
</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Paginacion"
            asp-action="PaginarRegistroVistaDepartamento">
            Paginación Individual Vista Departamento
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Paginacion"
           asp-action="PaginarGrupoVistaDepartamento">
            Paginación Grupo Vista Departamento
        </a>
    </li>
    <li class="list-group-item list-group-item-danger" >
        <a asp-controller="Paginacion"
           asp-action="PaginarGrupoDepartamentos">
            Paginación Grupo Departamento
        </a>
    </li
    <li class="list-group-item list-group-item-danger" >
        <a asp-controller="Paginacion"
           asp-action="PaginarGrupoEmpleados">
            Paginación Grupo Empleados
        </a>
    </li>
</ul>